
:root {
    --rdnormal: 20px;
}

nav {
    position: fixed;
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: none;
}

.logo {
    font-size: 2rem;
    font-family: 'PT Sans', sans-serif;
    margin-left: 50px;
    color: #BEB5E6;
}

ul {
    list-style: none;
    display: flex;
}

li {
    cursor: pointer;
    margin: 0 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #fff;
    transition: .2s;
    padding: 5px;
}
li:hover{
    color: #857BB3;
    translate: 0 -3px;
}

button {
    cursor: pointer;
    border: none;
    padding: 15px 30px;
    border-radius: var(--rdnormal);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.contact {
    margin: 0 30px;
    background: none;
    border: 2px solid #fff;
    color: #fff;
}

.JoinHydra {
    background-image: linear-gradient(to right,#857BB3, #BEB5E6);
}
.JoinHydra:hover, .contact:hover{
    transform: scale(1.1, 1.1);
    transition: .2s;
}